@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al sistema de gestión pedidos QuickStart</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="http://image.slidesharecdn.com/gestion-de-pedidos-150526160430-lva1-app6891/95/gestion-depedidos-1-638.jpg?cb=1432658024">
</div>






