@page
@model PedidosModel
@{
    ViewData["Title"] = "Pedidos";
}


<div class="text-center">
    <h1 class="display-4">Lo sentimos! Nuestro sistema de pedidos se encuentra en mantenimiento :(</h1>
    <p>De <a href="https://wa.link/ljjspj">click aquí </a>para realizar su pedido desde nuestro WhatsApp empresarial</p>
    <p>o puedes utilizar el siguiente código QR </p>

    <img src="https://i.ibb.co/YRfFgKQ/wa-link-ljjspj.png">
</div>

